<div class="products table-responsive">
  <ng-container *ngIf="tableColumns$ | async as columns">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of (products$ | async)">
          <td *ngFor="let column of columns">
            {{product[column]}}
          </td>
        </tr>
      </tbody>

    </table>
  </ng-container>

</div>
